<!--static templates-->
<div class="settings settingsHasFixed scrollableContainer horizontal vertical">

    <div class="cols" data-bind="with: device">

        <div class="col col1 fixedSection">

          <!-- TRIGGER MAPPING WIDGET -->
          <div data-bind="template: {name: 'mappings', data: { bindings: selectedConfig().bindings(), selectBinding: selectedConfig().actionsModel.selectBinding, quicksetDialog: selectedConfig().actionsModel.dialog, orientationModel: orientationModel, openMacroEditor: selectedConfig().actionsModel.dialog.openMacroEditor } }">
          </div>

        </div><!-- .col1 -->

        <div class="col col2 fixedSection">

          <!-- DEVICE IMAGE -->
          <section>
            <div class="deviceImg">
              <div class="deviceImgContainer" data-bind="css: orientationModel.view()"></div>
            </div>
          </section>

        </div><!-- .col2 -->
    </div><!-- .fixedSection -->

    <div class="scrollingSection">
      <div class="widgetsContainer widgetsContainerStatic">

        <div class="widgetsColumn" data-bind="with: device.selectedConfig()">


          <!-- CPI WIDGET -->
          <section id="Resolution1" class="widget">
            <div data-bind="template: {name: 'cpi', data: {cpiModel : cpiLevel1}}"></div>
          </section>

          <section id="Resolution2" class="widget">
            <div data-bind="template: {name: 'cpi', data: {cpiModel : cpiLevel2}}"></div>
          </section>
        </div>

        <div class="widgetsColumn" data-bind="with: device.selectedConfig().settings()">

          <!-- POLLING RATE WIDGET -->
          <section id="PollingRate" class="widget">
            <div data-bind="template: {name: 'pollingRate', data: { pollingRateRange: [4, 3, 2, 1], pollingRateLevel: polling_rate.level, pollingRateHz: polling_rate.hz } }"></div>
          </section>

        </div>

      </div>
    </div><!-- .scrollingSection -->

</div> <!-- device -->

