<div class="settings scrollableContainer horizontal vertical" data-bind="with: device.selectedConfig()">
    <!-- Enable Sonar widget -->
      <!-- ko if: enableSonarProps.shouldShowBanner() -->
    <section class="full-width bannerContainer" style="width: auto;">
        <div class="enableSonarBanner" data-bind="template: { name: 'enableSonarBanner', data: enableSonarProps }"></div>
    </section>
    <!-- /ko -->
    <div class="deviceImgContainer" data-bind="css:{ txBox: settingsTabsProps.selectedTabIdKO() === settingsTabsProps.isSettingsMode }"></div>
    <section class="scrollingSection">
      <div class="settingsTabs" data-bind="template: { name: 'settingsTabs', data: settingsTabsProps }"></div>
      <div class="audioTabContents" data-bind="if: settingsTabsProps.selectedTabIdKO() === settingsTabsProps.isAudioMode">
        <div class="widgetsContainer">
          <div class="grid-widget-container widgetsContainerStatic">
            <!-- EQ widget -->
            <section class="full-width opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText: 'widgets.equalizer.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.tooltip.equalizer', tooltip: {}"></a>
              <div class="equalizer" data-bind="template: { name: 'eq', data: equalizerProps }"></div>
            </section>

            <div class="widgetsColumn">
              <!-- Microphone volume widget -->
              <section class="opaque widget" style="width: auto;">
                <div class="title" data-bind="localizedText: 'widgets.micVolume'"></div>
                <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.tooltip.micVolume', tooltip: {}"></a>
                <div class="micVolume" data-bind="template: {name: 'microphoneVolume', data: microphoneVolumeProps }"></div>
              </section>

              <!-- Sidetone widget -->
              <section class="opaque widget" style="width: auto;">
                <div class="title" data-bind="localizedText: 'widgets.sideTone'"></div>
                <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.tooltip.sidetone', tooltip: {}"></a>
                <div class="sidetoneSlider" data-bind="template: { name: 'sidetoneSliderReact', data: sidetoneProps }"></div>
              </section>

              <!-- Mic preview widget -->
              <section class="opaque widget" style="width: auto;">
                <div class="title" data-bind="localizedText: 'widgets.micPreview.title'"></div>
                <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.micPreview.tooltip', tooltip: {}"></a>
                <div class="micPreview" data-bind="template: { name: 'micPreviewReact', data: micPreviewProps }"></div>
              </section>
            </div>

            <div class="widgetsColumn">
              <!-- Gain widget -->
              <section class="opaque widget" style="width: auto;">
                <div class="title" data-bind="localizedText: 'common.gain'"></div>
                <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: {key:'widgets.gain.tooltip', '#DEVICENAME#': $root.device.fullName}, tooltip: {}"></a>
                <div class="gainControl" data-bind="template: { name: 'gainControlReact', data: gainProps }"></div>
              </section>

              <!-- Line Output widget -->
              <section class="opaque widget" style="width: auto; height:267px;">
                <div class="title" data-bind="localizedText: 'widgets.output.title'"></div>
                <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.output.tooltip', tooltip: {}"></a>
                <div class="lineOutput" data-bind="template: { name: 'lineOutput', data: lineOutputProps }"></div>
              </section>
            </div>
          </div>
        </div>
      </div>
      <div class="settingsTabContents" data-bind="if: settingsTabsProps.selectedTabIdKO() === settingsTabsProps.isSettingsMode">
        <div class="widgetsContainer">
          <div class="grid-widget-container widgetsContainerStatic">
            <!-- Power options widget -->
            <section class="full-width opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText: 'widgets.powerOptions.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.powerOptions.tooltip2', tooltip: {}"></a>
              <div class="powerOptions" data-bind="template: { name: 'powerOptions', data: powerOptionsProps }"></div>
            </section>

            <!-- Mic brightness widget -->
            <section class="full-width opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText: 'widgets.micMutedLEDBrightness.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.micMutedLEDBrightness.tooltip', tooltip: {}"></a>
              <div class="micBrightness" data-bind="template: { name: 'micBrightness', data: micBrightnessProps }"></div>
            </section>

            <!-- Bluetooth Default widget -->
            <section class="opaque widget" style="width:auto;">
              <div class="title" data-bind="localizedText: 'widgets.bluetooth.startupState.title2'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.bluetooth.startupState.tooltip', tooltip: {}"></a>
              <div class="bluetoothStartup" data-bind="template: { name: 'bluetoothStartup', data: bluetoothStartupProps }"></div>
              </section>

            <!-- BT Call widget -->
            <section class="opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText: 'widgets.bluetooth.autoMode.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: 'widgets.bluetooth.autoMode.tooltip', tooltip: {}"></a>
              <div class="btCallOptions" data-bind="template: { name: 'bluetoothCallReact', data: btCallProps }"></div>
            </section>

            <!-- OLED Brightness widget -->
            <section class="full-width opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText: 'widgets.oledDisplay.screenBrightness.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="tooltip: {}, localizedTitle: {key: 'widgets.oledDisplay.screenBrightness.tooltip', '#DEVICENAME#': $root.device.fullName}"></a>
              <div class="oledBrightness" data-bind="template: { name: 'oledBrightness', data: oledBrightnessProps }"></div>
            </section>

            <!-- Dim Screen Idle widget -->
            <section class="full-width opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText: 'widgets.oledDisplay.screenIdleDimTimeout.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: {key:'widgets.oledDisplay.screenIdleTimeout.tooltip', '#DEVICENAME#': $root.device.fullName}, tooltip: {} "></a>
              <div class="screenIdleDim" data-bind="template: { name: 'powerOptions', data: screenIdleProps } "></div>
            </section>

            <!-- Home Screen Type widget -->
            <section class="full-width opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText: 'widgets.homeScreenType.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="localizedTitle: {key:'widgets.homeScreenType.tooltip', '#DEVICENAME#': $root.device.fullName}, tooltip: {}"></a>
              <div class="homeScreenType" data-bind="template: { name: 'homeScreenType', data: homeScreenTypeProps }"></div>
            </section>

            <!-- Wireless Mode widget -->
            <section class="full-width opaque widget" style="width: auto;">
              <div class="title" data-bind="localizedText:'widgets.wirelessMode.title'"></div>
              <a href="javascript:void(0)" class="tooltip" data-bind="tooltip: {}, localizedTitle: {key: 'widgets.wirelessMode.tooltip', '#DEVICENAME#': $root.device.fullName}"></a>
              <div class="wirelessMode" data-bind="template: { name: 'genericDropdownReact', data: wirelessModeProps }"></div>
            </section>
          </div>
        </div>
      </div>
    </section>
  </div>
