<div class="settings scrollableContainer horizontal vertical" data-bind="with: device.selectedConfig()">
  <div class="col col1">
    <div class="deviceImgContainer" data-bind="css:{ txBox: $root.device.viewOptions.isSettingsMode() }"></div>
  </div>

  <div class="col col2">
    <div class="viewOptions" data-bind="with: $root.device.viewOptions">
      <label class="productFeaturesLabel" data-bind="localizedText: { key: 'main.viewControls.title', '#DEVICE#': 'Arctis Pro Wireless' }"></label>
      <ul class="viewControls">
        <li class="buttonCombineLarge" data-bind="css:{ active: isAudioMode() }, click: function(){ isAudioMode(true); isSettingsMode(false); }, localizedText:'common.audio'"></li>
        <li class="buttonCombineLarge" data-bind="css:{ active: isSettingsMode() }, click: function(){ isAudioMode(false); isSettingsMode(true); }, localizedText:'main.settings'"></li>
      </ul>
    </div>

    <section class="widgetsContainer">
      <!-- ko if: $root.device.viewOptions.isAudioMode() -->
        <div class="widgetsColumn">
          <!-- ko if: $data.dtsHeadphoneXModel -->
            <div data-bind="template: {name: 'dtsHeadphoneX', data: {toggleField: dtsHeadphoneXModel().toggle, modes: dtsHeadphoneXModel().modes, currentMode: dtsHeadphoneXModel().currentMode, enabled: $root.device.softwareInstalled}}"></div>
          <!-- /ko -->
          <!-- ko if: $data.dtsHeadphoneXv2Model -->
          <div data-bind="template: {name: 'dtsHeadphoneXv2', data: {model: dtsHeadphoneXv2Model(), softwareUpToDate: $root.device.softwareInstalled}}"></div>
          <!-- /ko -->
          <div data-bind="template: {name: 'equalizer', data: { equalizer: $root.device.selectedConfig().equalizer }}"></div>
          <div data-bind="template: {name: 'volumeLimiter', data: $root.device.selectedConfig().volumeLimiterData }"></div>
        </div>

        <div class="widgetsColumn">
          <div data-bind="template: {name: 'micPreview', data: { micName: $root.device.selectedConfig().micName } }"></div>
          <div data-bind="template: {name: 'sideToneSlider', data: {value: $root.device.selectedConfig().sidetone, sideToneValues: $root.device.selectedConfig().sideToneValues }}"></div>
        </div>
      <!-- /ko -->

      <!-- ko if: $root.device.viewOptions.isSettingsMode() -->
        <div class="widgetsColumn">
          <div class="autoOffTime" data-bind="template: {name: 'genericDropdown', data: $root.device.selectedConfig().autoOffTimeData }"></div>
          <div class="bluetoothStartup" data-bind="template: {name: 'genericToggle', data: $root.device.selectedConfig().bluetoothStartupData }"></div>
          <div class="bluetoothAutoMode" data-bind="template: {name: 'bluetoothVolumeDucker', data: $root.device.selectedConfig().bluetoothAutoModeData }"></div>
        </div>

        <div class="widgetsColumn">
          <div class="disableConfigSync" data-bind="template: {name: 'disableConfigSync', data: $root.device.selectedConfig().configSyncDisabledData }"></div>
          <div class="screenIdleTimeout" data-bind="template: {name: 'genericDropdown', data: $root.device.selectedConfig().screenIdleTimeoutData }"></div>
          <div class="screenSaver" data-bind="template: {name: 'genericDropdown', data: $root.device.selectedConfig().screenSaverData }"></div>
          <div class="screenBrightness" data-bind="template: {name: 'genericSlider', data: { value: $root.device.selectedConfig().screenBrightness, options: $root.device.screenBrightnessValues, hideMiddleLabels: true, replaceTextInHiddenLabels: ['', ''], titleLocalizationKey: 'widgets.oledDisplay.screenBrightness.title', tooltipLocalizationKey: 'widgets.oledDisplay.screenBrightness.tooltip', localizationReplacements: { '#DEVICENAME#': $root.device.fullName} } }"></div>
          <div class="micMuteBrightness" data-bind="template: {name: 'genericSlider', data: { value: $root.device.selectedConfig().mic_brightness, options: $root.device.micBrightnessValues, hideMiddleLabels: true, replaceTextInHiddenLabels: ['', ''], titleLocalizationKey: 'widgets.micMutedLEDBrightness.title', tooltipLocalizationKey: 'widgets.micMutedLEDBrightness.tooltip', localizationReplacements: { '#DEVICENAME#': $root.device.fullName} } }"></div>
        </div>
      <!-- /ko -->
    </section> <!--  widgetsContainer  -->
  </div> <!-- col2 -->
</div> <!--  settings  -->

