<div class="settings scrollableContainer horizontal vertical" data-bind="with: device.selectedConfig()">
    <section class="scrollingSection">
        <div data-bind="template: { name: 'deviceTitleWithTabs', data: deviceTitleWithTabsProps }"></div>
        <div class="audioTabContents" data-bind="if: deviceTitleWithTabsProps.selectedTabIdKO() === deviceTitleWithTabsProps.isAudioMode">
            <div class="widgetsContainer">
                <div class="grid-widget-container widgetsContainerStatic">
                     <!-- ko if: enableSonarProps.shouldShowBanner() -->
                    <section class="full-width opaque widgetFlat" style="width: auto;">
                        <div class="enableSonarBanner" data-bind="template: { name: 'enableSonarBanner', data: enableSonarProps }"></div>
                    </section>
                    <!-- /ko -->
                    <!-- Parametric EQ widget -->
                    <section class="full-width opaque widgetFlat" style="width: auto;">
                          <div class="parametricEQMini" data-bind="template: { name: 'parametricEQMini', data: parametricEQMiniProps }"></div>
                    </section>
                    <!-- Microphone volume widget -->
                    <section class="opaque widgetFlat" style="width: auto;">
                        <div class="micVolume" data-bind="template: { name: 'microphoneVolumeFlat', data: microphoneVolumeProps }"></div>
                    </section>

                    <!-- Sidetone widget -->
                    <section class="opaque widgetFlat" style="width: auto;">
                        <div class="micSidetone" data-bind="template: { name: 'micSidetoneFlat', data: sidetoneProps }"></div>
                    </section>

                    <!-- Mic preview widget -->
                    <section class="opaque widgetFlat" style="width: auto;">
                        <div class="micPreview" data-bind="template: { name: 'micPreviewFlat', data: micPreviewProps }"></div>
                    </section>

                    <!-- Volume limiter widget -->
                    <section class="opaque widgetFlat" style="width: auto">
                        <div class="volumeLimiterFlat" data-bind="template: { name: 'volumeLimiterFlat', data: volumeLimiterProps }"></div>
                    </section>
                </div>
            </div>
        </div>
        <div class="settingsTabContents" data-bind="if: deviceTitleWithTabsProps.selectedTabIdKO() === deviceTitleWithTabsProps.isSettingsMode">
            <div class="widgetsContainer">
                <div class="grid-widget-container widgetsContainerStatic">
                    <!-- Power options widget -->
                    <section class="opaque widgetFlat" style="width: auto;">
                        <div class="powerOptions" data-bind="template: { name: 'powerOptionsFlat', data: powerOptionsProps }"></div>
                    </section>

                    <!-- Mic mute brightness widget -->
                    <section class="opaque widgetFlat" style="width: auto;">
                        <div class="micBrightness" data-bind="template: { name: 'micBrightnessFlat', data: micBrightnessProps }"></div>
                    </section>

                    <!-- Range extend widget -->
                    <section class="opaque widgetFlat" style="width: auto">
                        <div class="rangeExtend" data-bind="template: { name: 'rangeExtend', data: {device: $parent.device.rangeExtendProps, config: rangeExtendProps}}"></div>
                    </section>
                </div>
            </div>
        </div>
    </section>
</div>
